<?xml version="1.0" encoding="utf-8" ?>
<configuration>    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="DUCATPROJECT_CONSULTANCY_ERPConnectionString" connectionString="Data Source = MohdNAvedAlam; Initial Catalog = DUCATPROJECT_CONSULTANCY_ERP; User ID=sa; Password=Admin123!" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>